@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /* font-family */
  --ff-work: 'Work Sans', sans-serif;
}

.ff-work {
  font-family: var(--ff-work);
}

.bg-img {
  background-image: url(../src/assets/images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 105vh;
}

.bgimg-white {
  background-image: url(../src/assets/images/white-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar {
  font-family: var(--ff-work);
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  position: relative;
  transition: all 300ms ease-in-out;
}

.nav-bar::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  right: 50%;
  top: 27px;
  border-radius: 25px;
  transition: 300ms all linear;
}

.nav-bar:hover::before {
  width: 100%;
  right: 0;
}

.nav-bar:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-text {
  display: grid;
  place-content: center;
}

.heading-1,
.S1-heading {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -1.274px;
  max-width: 729px;
}

.max-484 {
  max-width: 484px;
}

.max-524 {
  max-width: 524px;
}

.head-btn {
  border-radius: 30px;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
  border: none;
  padding: 12px 38px;
  transition: all 300ms linear;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.head-btn:hover,
.S2-btn:hover {
  background: linear-gradient(97deg, #F14F09 25%, #FD9B2B 75%);
}

.btn-font {
  color: white;
  text-align: center;
  font-family: var(--ff-work);
}

.arrow {
  left: 19%;
  top: 64%;
}

.sun {
  right: 3%;
  top: 0;
}

.bg-orange-layer {
  background-image: url(../src/assets/images/hero-layer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 139px;
  transform: translateY(270px);
  z-index: -1;
}

.bg-white-layer {
  background-image: url(../src/assets/images/hero-whitelayer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 139px;
  transform: translateY(190px);
  z-index: -1;
}

.text-gradiant {
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.S1-para {
  color: rgba(77, 77, 77, .77);
  font-family: var(--ff-work);
  max-width: 453px;
}

.S5-text {
  color: rgba(77, 77, 77, .77);
}

.S1-head::after {
  position: absolute;
  content: '';
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #000;
  top: 52%;
  left: 80px;
  width: 44px;
  height: 1px;
}

.S2-head::after,
.S3-head::after,
.S4-head::after,
.S5-head::after {
  position: absolute;
  content: '';
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #000;
  top: 55%;
  width: 44px;
  height: 1px;
  margin-left: 10px;
}

.S5-head::after {
  top: 50%;
}

.S2-cards {
  max-width: 300px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 66px 0px rgba(0, 0, 0, 0.04);
  transition: all .5s ease-in-out;
}

.S2-cards:hover {
  border-radius: 8px;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
  transform: translateY(-50px);
}

.S2-cards:hover .card-desktop {
  background: white;
}

.S2-cards:hover .card-desktop2 {
  background: white;
}

.S2-cards:hover svg path {
  fill: url("#paint0_linear_19268_1845");
}

.card-desktop {
  width: 87px;
  height: 87px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 14px;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.card-desktop2 {
  width: 87px;
  height: 87px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}


.S2-btn,
.S3-btn {
  border-radius: 30px;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.slick-card {
  box-shadow: 0px 4px 66px 0px rgba(0, 0, 0, 0.04);
}

.S4-card {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-input:checked+.toggle-label {
  background-color: white;

}

.toggle-label::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 1px;
  transition: all 0.2s;
}

.toggle-input:checked+.toggle-label::before {
  right: calc(100% - 19px);
}

.white-card {
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
}

.max-540 {
  max-width: 540px;
}

.S4-card2 {
  flex-shrink: 0;
  top: 10%;
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
}

.position-circle {
  right: 19%;
  bottom: 62%;
  z-index: 3;
}

.position-circle2 {
  right: 6%;
  bottom: 100%;
  z-index: 1;
}

.b-bottom-1 {
  border-bottom: 1px solid black;
  width: 100%;
}

.bg-footimg {
  height: 400px;
}

@media (max-width:992px) {

  .max-484,
  .max-524 {
    max-width: 100%;
  }
}

@media (max-width:768px) {

  label[for="iconbar"] {
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  label[for="iconbar"]>span {
    width: 100%;
    height: 5px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
  }

  .menubar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #Ffff;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: all 200ms linear;
  }

  input[type="checkbox"]:checked+ul.menubar {
    left: 0;
    opacity: 1;
    pointer-events: all;
  }

  .sun {
    display: none;
  }

  .arrow {
    left: 26%;
    top: 63%;
  }

  .prev,
  .next {
    display: none;
  }
}

@media (max-width:576px) {
  .arrow {
    display: none;
  }
}